.place-bet-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0F172A;
  font-size: large;
  box-shadow: 4px 4px #64748B;

  padding-bottom: 10px;
  margin-top: 20px;
  border-radius: 25px;
  background-color: #A3E635;
  width: 70vw;
}

.place-bet-form h2 {
  text-decoration: underline;
  margin-bottom: 0;
}

.place-bet-form h3 {
  text-decoration: underline;
}

.place-bet-form input {
  font-size: large;
  text-align: center;
  border-radius: 25px;
  border: none;
  box-shadow: 3px 3px #64748B;
}

.place-bet-form select {
  text-align: center;
  font-size: large;
  border-radius: 25px;
  border: none;
  padding: 5px;
  box-shadow: 3px 3px #64748B;
}

@media (max-width: 680px) {
  .place-bet-form {
    width: 90vw;
    font-size: medium;
  }

  .place-bet-form select {
    font-size: medium;
  }

  .place-bet-form input {
    font-size: medium;
  }
}

@media (min-width: 680px) and (max-width: 820px) {
  .place-bet-form {
    width: 80vw;
  }
}

@media (min-width: 2560px) {
  .place-bet-form {
    width: 40vw;
    font-size: x-large;
  }

  .place-bet-form select {
    font-size: x-large;
  }

  .place-bet-form input {
    font-size: x-large;
  }
}

@media (min-width: 3840px) {
  .place-bet-form {
    font-size: xx-large;
  }

  .place-bet-form select {
    font-size: xx-large;
  }

  .place-bet-form input {
    font-size: xx-large;
  }
}
