<div class="auth-wrapper">
  <div class="auth">
    <h1>Sign Up</h1>
    <form class="auth-form">
      <label class="input-label">Email</label>
      <input class="auth-input" type="email" placeholder="email" [(ngModel)]="emailInput" name="email"/>
      <label class="input-label">Password</label>
      <input class="auth-input" type="password" placeholder="password" [(ngModel)]="passwordInput" name="password"/>
      <app-button 
        text="Sign Up" 
        color="#059669" 
        (btnClick)="signUpHandler()">
      </app-button>
      <p class="auth-error" *ngIf="error">{{error}}</p>
    </form>
  </div>
</div>