<div class="bet">
  <button 
    class="bet-collapsible" 
    (click)="showDetailsClick($event)" 
    [ngClass]="{'bet-win': bet!.win, 'bet-loss': bet!.win === false}"
  >
    {{ bet!.match.firstTeam.teamName }} vs. {{ bet!.match.secondTeam.teamName }}
     - 
    {{ bet!.match.matchDate | date: 'MMM d, yy, h:mm a z' }}
  </button>
  <div class="bet-details">
    <p>
      <strong>Selected Team: </strong>
      {{ bet!.selectedFirstTeam ? bet!.match.firstTeam.teamName : bet!.match.secondTeam.teamName }}
    </p>
    <p>
      <strong>
        Amount:
      </strong>
      ${{ bet!.amount }}
    </p>
    <p *ngIf="!bet!.match.winner">
      <strong>
        Potential Reward:
      </strong>
      ${{ potentialReward.toFixed(2) }}
    </p>
    <p *ngIf="bet!.match.winner">
      <strong>
        {{ bet!.win ? "Amount Won: " : "Amount Lost: " }}
      </strong>
      ${{ bet!.winLoseAmount }}
    </p>
    <span class="bet-options" *ngIf="!bet!.match.winner">
      <app-button
        text="Change Team"
        color="#FB923C"
        (btnClick)="changeTeamHandler(bet!.id)"
      >
      </app-button>
      <app-button
        text="Cancel"
        color="#EF4444"
        (btnClick)="cancelBetHandler(bet!.id)"
      >
      </app-button>
    </span>
    <p class="error" *ngIf="error">{{ error }}</p>
  </div>
</div>