<div class="bet">
  <button 
    class="bet-collapsible" 
    (click)="showDetailsClick($event)" 
    [ngClass]="{'bet-win': bet!.win, 'bet-loss': bet!.win === false}"
  >
    {{ bet!.match.firstTeam.teamName }} vs. {{ bet!.match.secondTeam.teamName }}
    <strong>|</strong>
    {{ bet!.match.tournament }}
    <strong>|</strong>
    {{ bet!.match.matchDate | date: 'MMM d, yy, h:mm a z' }}
  </button>
  <div class="bet-details">
    <span>
      <p>
        <strong>Selected Team: </strong>
      </p>
      <p>
        {{ bet!.selectedFirstTeam ? bet!.match.firstTeam.teamName : bet!.match.secondTeam.teamName }}
      </p>
    </span>
    <span>
      <p>
        <strong>
          Amount:
        </strong>
      </p>
      <p>
        ${{ bet!.amount }}
      </p>
    </span>
    <span *ngIf="!bet!.match.winner">
      <p>
        <strong>
          Potential Reward:
        </strong>
      </p>
      <p>
        ${{ potentialReward.toFixed(2) }}
      </p>
    </span>
    <span *ngIf="bet!.match.winner">
      <p>
        <strong>
          {{ bet!.win ? "Amount Won: " : "Amount Lost: " }}
        </strong>
      </p>
      <p>
        ${{ bet!.winLoseAmount }}
      </p>
    </span>
    <span class="bet-options" *ngIf="!bet!.match.winner">
      <app-button
        text="Change Team"
        color="#FB923C"
        (btnClick)="changeTeamHandler(bet!.id)"
      >
      </app-button>
      <app-button
        text="Cancel"
        color="#EF4444"
        (btnClick)="cancelBetHandler(bet!.id)"
      >
      </app-button>
    </span>
  </div>
</div>