.match {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  width: 50vw;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 4px 4px #1E293B;
  background-color: #CBD5E1;
}

.match:hover {
  filter: brightness(80%);
}

.match-tournament {
  grid-column: 1 / 4;
}