.match-by-id-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background-color: #1E3A8A;
}

.match-by-id {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  background-color: #A3E635;
  color: #0F172A;
  width: 70vw;
  border-radius: 25px;
  box-shadow: 4px 4px #64748B;
}

.match-by-id h2 {
  text-decoration: underline;
  grid-column: 1 / 4;
}

.match-odds {
  margin-top: 0;
  margin-bottom: 0;
}

.match-by-id-tournament {
  grid-column: 1 / 4;
}

.match-by-id-date {
  grid-column: 1 / 4;
  margin-top: 0;
}