.match-by-id-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  align-items: center;
  background-color: #1E3A8A;
}

.match-by-id {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #CBD5E1;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px #1E293B;
}

.match-by-id h2 {
  text-decoration: underline;
}

.match-by-id p {
  font-size: large;
}

.match-by-id-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
}