<div class="match-by-id-wrapper" *ngIf="selectedMatch">
  <div class="match-by-id">
    <h2>Match Details</h2>
    <p class="match-by-id-date">{{ selectedMatch!.matchDate | date: 'long' }}</p>
    <span>
      <p>{{ selectedMatch!.firstTeam.teamName }}</p>
      <p class="match-odds">{{ selectedMatch!.firstTeamOdds }}</p>
    </span>
    <p>vs.</p>
    <span>
      <p>{{ selectedMatch!.secondTeam.teamName }}</p>
      <p class="match-odds">{{ selectedMatch!.secondTeamOdds }}</p>
    </span>
    <p class="match-by-id-tournament">{{ selectedMatch!.tournament }}</p>
  </div>
  <app-place-bet [matchInfo]="selectedMatch"></app-place-bet>
</div>
